/* .page-container {
  padding-left: 10rem;
  padding-right: 4rem;
} */

.caps-label {
  font-size: 1.25rem;
}

.section-heading {
  font-size: 2.25rem;
}

.mid-heading {
  font-size: 1.625rem;
}

.paragraph-text {
  font-size: 1.25rem;
  text-align: left;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.dark-section {
  background-color: "F2F2F2";
}

.bullet-box {
  background-color: "F2F2F2";
}

.slide-image {
  width: 60vw;
}

.block-quote {
  padding: 2em;
  background-color: rgb(215, 215, 215);
  width: 60%;
}

.content-container {
  padding-left: 12rem;
  padding-right: 12rem;
}
